.weatherContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.locationCard, .mainWeatherCard {
    width: 200px;
    height: 200px;
    text-align: center;
}

.mainTitle {
    font-size: 50px;
}

.detailedWeatherData {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
}

.otherWeatherCard {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 120px;
    width: 130px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.otherWeatherCard p {
    margin: 5px;
}

.sunsetCard {
    background: #e96443;
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    background: linear-gradient(to right, #904e95, #e96443);
}

.sunriseCard {
    background: #FF512F;
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);
    background: linear-gradient(to right, #F09819, #FF512F);
}

.sunriseCard, .sunsetCard {
    height: 120px;
    width: 130px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.weatherData {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}