.weatherContainer {
    display: flex;
    gap: 20px;
}

.locationCard, .mainWeatherCard {
    width: 200px;
    height: 200px;
    text-align: center;
}

.mainTitle {
    font-size: 50px;
}

.otherWeatherData {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.otherWeatherData p {
    margin: 5px;
}

.weatherData {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}